{{template "base" .}}

{{define "content"}}

<div class="container">
    <div><h1>This is home page</h1></div>  
    <p>you can visit <a href="/about">about page</a> to know your IP.</p>
</div>

{{end}}